<header id="main-menu">
    <div class="container">
        <div class="row">
            <div id="menu-logo" >A <span>&amp;</span> A</div>
            <nav id="navigation" class="column twelve">
                <ul>
                    <li><a class="scrollTo" href="#logo">Home</a></li>
                    <li><a class="scrollTo" href="#story">Story</a></li>
                    <li><a class="scrollTo" href="#wedding-events">Events</a></li>
                    <li><a class="scrollTo" href="#important-people">People</a></li>
                    <li><a class="scrollTo" href="#gift-registry">Registry</a></li>
                    <li><a class="scrollTo" href="#accomodations">Accomodations</a></li>
                    <li><a class="scrollTo" href="#contact">RSVP</a></li>
                </ul>
            </nav>
            <a href="#" id="menu-toggle-wrapper">
                <div id="menu-toggle"></div>
            </a>
        </div>
        <!-- close .ha-header-perspective -->
    </div>
    <!-- close grid container -->
</header>