<!-- Small Gallery Section -->
<section id="wedding-gallery" class="pattern">
    <header class="section-header">
        <h3 class="section-title">Photo Gallery</h3>
    </header>
    <div class="container">
        <div class="row">
            <ul id="gallery-filter">
                <li class="active"><a href="#" data-filter="*">All</a>
                </li>
                <li><a href="#" data-filter=".engagement">Engagement</a>
                </li>
                <li><a href="#" data-filter=".wedding">Wedding Day</a>
                </li>
                <li><a href="#" data-filter=".adventures">Adventures</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="gallery-wrapper">
        <div class="block engagement">
            <div class="image-holder">
                <img src="video/thumbnail/engagement-thumbnail.jpg" alt="image">
            </div>
            <a href="https://youtu.be/rI1vEZ98CRs" class="video-hover mfp-iframe">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">
                        Our Engagement Video
                        <span class="cat">Bayfront Park</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="block photography">
            <div class="image-holder">
                <img src="images/album/WeddCouple2.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple2.jpg" class="portfolio-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">
                        This is some title
                        <span class="cat">Wedding</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="block photography">
            <div class="image-holder">
                <img src="images/album/WeddCouple3.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple3.jpg" class="portfolio-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">This is some title</h3>
                </div>
            </a>
        </div>
        <div class="block photography">
            <div class="image-holder">
                <img src="images/album/WeddCouple4.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple4.jpg" class="portfolio-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">This is some title</h3>
                </div>
            </a>
        </div>
        <div class="block wedding">
            <div class="image-holder">
                <img src="images/album/WeddCouple5.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple5.jpg" class="video-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">
                        This is some title
                        <span class="cat">Design</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="block paris">
            <div class="image-holder">
                <img src="images/album/WeddCouple6.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple6.jpg" class="portfolio-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">
                        This is some title
                        <span class="cat">Design</span>
                    </h3>
                </div>
            </a>
        </div>
        <div class="block paris">
            <div class="image-holder">
                <img src="images/album/WeddCouple7.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple7.jpg" class="portfolio-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">This is some title</h3>
                </div>
            </a>
        </div>
        <div class="block photography">
            <div class="image-holder">
                <img src="images/album/WeddCouple8.jpg" alt="image">
            </div>
            <a href="images/album/WeddCouple8.jpg" class="portfolio-hover">
                <div class="portfolio-info">
                    <h3 class="portfolio-title">This is some title</h3>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- #Small Gallery Section Ends -->