<!-- Gift Registry Section -->
<section id="gift-registry" class="pattern">
    <header class="section-header">
        <h3 class="section-title">Gift Registry</h3>
        <p class="section-tagline">
            We are using a centralized gift registry called <strong>MyRegistry</strong>.<br/>
            Click the image below to view our gift registry.
        </p>
    </header>
    <div class="container">
        
        <ul class="small-box corner">
            <li>
                <a class="" target="_blank" href="https://www.myregistry.com/giftlist/adam-ashley"><img src="img/together.jpg" alt=""></a>
            </li>
        </ul>
    </div>
</section>
<!-- #Gift Registry Section Ends -->