<!-- Wedding Events Section -->
<section id="wedding-events" class="pattern">
    <header class="section-header">
        <h3 class="section-title">Wedding Events</h3>
        <p class="section-tagline">The events below are either by ticket or invitation only.</p>
    </header>
    <div class="container timeline">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
        <div class="row">
            <div class="column six heart right">
                <div class="box center corner">
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                    <h2>Jack & Jill</h2>
                    <div class="details">
                        <span class="waddress">4 Lisgar St</span>
                        <span class="waddress">St. Catharines</span>
                        <span class="wdate">June 2nd, 2018</span>
                        <span class="wtime">5pm</span>
                    </div>                          
                </div>
            </div>
            <div class="column six heart left movetop">
                <div class="box center corner">
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                    <h2>Bridal Shower</h2>
                    <div class="details">
                        <h4>Bridal Party</h4>
                        <span class="waddress">Link Residence</span>
                        <span class="waddress"></span>
                        <span class="wdate">July 21st, 2018</span>
                        <span class="wtime"></span>
                    </div>                          
                </div>
            </div>
            <div class="column six heart right">
                <div class="box center corner">
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                    <h2>Bridal Shower</h2>
                    <div class="details">
                        <h4>Family & Friends</h4>
                        <span class="waddress">Knights of Columbus</span>
                        <span class="waddress"></span>
                        <span class="wdate">July 14th, 2018</span>
                        <span class="wtime"></span>
                    </div>                          
                </div>
            </div>
            <div class="column six heart left">
                <div class="box center corner">
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                    <h2>Wedding Ceremony</h2>
                    <div class="details">
                        <span class="waddress">Copetown Woods Golf Club</span>
                        <span style="font-weight: normal;" class="waddress">1430 Concession 2 Rd. W.</span>
                        <span style="font-weight: normal;" class="waddress">Copetown, ON., L0R 1J0</span>
                        <span class="wdate">October 5th, 2018</span>
                        <span>&nbsp</span>
                        <span class="wtime">Will start promptly at</span>
                        <span class="wtime">4:00 PM</span>
                    </div>                         
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- #Wedding Events Section Ends -->