<!-- Wedding Events Section -->
<section id="wedding-events" class="pattern">
    <header class="section-header">
        <h3 class="section-title">The Wedding Day!</h3>
    </header>
    <div class="container timeline">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
        <div class="row">
            <div class="column twelve">
                <br/>
                <div class="box center corner">
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                    <h2>Wedding Ceremony &amp Reception</h2>
                    <div class="details">
                        <span class="waddress">Copetown Woods Golf Club</span>
                        <span style="font-weight: normal;" class="waddress">1430 Concession 2 Rd. W.</span>
                        <span style="font-weight: normal;" class="waddress">Copetown, ON., L0R 1J0</span>
                        <span class="wdate">October 5th, 2018</span>
                        <span>&nbsp</span>
                        <span class="wtime">Will start promptly at</span>
                        <span class="wtime">4:00 PM</span>
                    </div>                         
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- #Wedding Events Section Ends -->