<section id="gift-cash" class="">
    <header class="section-header">
        <h3 class="section-title">Cash Gifts</h3>
        <p class="section-tagline">
            We are also accepting cash gifts directly through our website!<br/>
            Please note that we won't receive the full amount. There is a processing fee of 2.9% + $0.30.<br/>
            We have an option to allow you to pay this processing fee for us or <br/>
            you can always bring these gifts on our wedding day instead!
        </p>
    </header>
    <div class="container">
        <ul class="small-box corner">
                <li>
                    <div class="money">
                        <span class="amount">$100</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$250</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$500</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">Any</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
            </ul>
    </div>
</section>