<!-- Important People Section -->
<section id="important-people">
    <header class="section-header">
        <h3 class="section-title">Our Wedding Party</h3>
        <p class="section-tagline"></p>
    </header>
    <div class="container timeline">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
        <div class="row">
            <div class="column six right">
                <h2 class="vibe">Bridesmaids</h2>
                <div class="tabs people-image">
                    <li><a href="#person1" class="active"><img src="images/important-people/bridesmade1.jpg" alt="" /></a></li>
                    <li><a href="#person2"><img src="images/important-people/bridesmade2.jpg" alt="" /></a></li>
                    <li><a href="#person3"><img src="images/important-people/bridesmade3.jpg" alt="" /></a></li>
                    <li><a href="#person4"><img src="images/important-people/bridesmade3.jpg" alt="" /></a></li>
                    <li><a href="#person5"><img src="images/important-people/bridesmade3.jpg" alt="" /></a></li>
                    <li><a href="#person6"><img src="images/important-people/bridesmade3.jpg" alt="" /></a></li>
                    <li><a href="#person7"><img src="images/important-people/bridesmade3.jpg" alt="" /></a></li>
                </div>
                <div class="tab-content-wrap">
                    <div id="person1" class="tab-content">
                        <h2>Jessica Link</h2>
                        <div class="story">
                            <p><strong>Matron of Honour</strong></p>
                            <p>Bride's Cousin</p>
                        </div>
                    </div>
                    <div id="person2" class="tab-content">
                        <h2>Cassie Chan</h2>
                        <div class="story">
                            <p><strong>Maid of Honour</strong></p>
                            <p>Bride's Friend</p>
                        </div>
                    </div>
                    <div id="person3" class="tab-content">
                        <h2>Cassey Leader</h2>
                        <div class="story">
                            <p><strong>Bridesmaid</strong></p>
                            <p>Bride's Cousin</p>
                        </div>
                    </div>
                    <div id="person4" class="tab-content">
                        <h2>Brittany Maciuk</h2>
                        <div class="story">
                            <p><strong>Bridesmaid</strong></p>
                            <p>Groom's Sister</p>
                        </div>
                    </div>
                    <div id="person5" class="tab-content">
                        <h2>Hailey Maciuk</h2>
                        <div class="story">
                            <p><strong>Bridesmaid</strong></p>
                            <p>Groom's Sister</p>
                        </div>
                    </div>
                    <div id="person6" class="tab-content">
                        <h2>Sarah Dos Santos</h2>
                        <div class="story">
                            <p><strong>Bridesmaid</strong></p>
                            <p>Bride's Friend</p>
                        </div>
                    </div>
                    <div id="person7" class="tab-content">
                        <h2>Cindy Xiao</h2>
                        <div class="story">
                            <p><strong>Bridesmaid</strong></p>
                            <p>Bride's Friend</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column six left">
                <h2 class="vibe">Groomsmen</h2>
                <div class="tabs people-image">
                    <li><a href="#person8" class="active"><img src="images/important-people/groomsman1.jpg" alt="" /></a></li>
                    <li><a href="#person9"><img src="images/important-people/groomsman2.jpg" alt="" /></a></li>
                    <li><a href="#person10"><img src="images/important-people/groomsman3.jpg" alt="" /></a></li>
                </div>
                <div class="tab-content-wrap">
                    <div id="person8" class="tab-content">
                        <h2>Adriano Oliviera</h2>
                        <div class="story">
                            <p><strong>Best Man</strong></p>
                            <p>Groom's Best Friend</p>
                        </div>
                    </div>
                    <div id="person9" class="tab-content">
                        <h2>Lawrence Jacinto</h2>
                        <div class="story">
                            <p><strong>Groomsman</strong></p>
                            <p>Bride's Brother</p>
                        </div>
                    </div>
                    <div id="person10" class="tab-content">
                        <h2>Carlos Campbell</h2>
                        <div class="story">
                            <p><strong>Groomsman</strong></p>
                            <p>Bride's Friend</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- #Important People Section Ends -->