<!-- Couple Images -->
<section id="couple">
    <div class="overlay-dark"></div>
    <div class="hero-heart light"></div>
    <div class="images bannerimg">
        <div class="column six girl">
            <span class="fname">Adam</span>
            <span class="lname">Maciuk</span>
        </div>
        <div class="column six boy">
            <span class="fname">Ashley</span>
            <span class="lname">Jacinto</span>
        </div>
    </div>
</section>
<!-- #Couple Images Ends -->

<!-- Story Section -->
<section id="story" class="pattern">
    <div class="container timeline">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
        <div class="row">
            <div class="column six right">
                <h2 class="vibe">He says</h2>
                <div class="story">
                    <p>
                        I really don't know what I was thinking on our first date as I pulled up to her house. 
                        The only plan we had was to go get a Frosty from Wendy's but I hadn't even bothered to 
                        find out where the nearest Wendy's was. She opened her front door with this super cute smile, 
                        we had an awkward side-hug and I'm pretty sure I asked her how she was doing twice in 
                        the time it took to get to my car. 
                    <p>
                        I was nervous. She seemed nervous. 
                    </p>
                    <p>
                        So we set out to find a Wendy's and she soon asked me where we were going. To her 
                        surprise, I bluntly said "I don't know!". 
                    </p>
                    <p>
                        I can only imagine what she was thinking from that point forward knowing 
                        she was in a car with a stranger who also didn't know where he was going.
                    </p>
                    <p>
                        After we finally found what we were looking for, I figured we needed a place to talk.
                        I drove us to Bayfront Park, to a place that has always been a place of peace for me.
                        When we finally arrived and sat down at a bench overlooking the lake, we were able to
                        just talk the night away. I started to get a feeling that she might be the one! 
                    </p>
                    <p>
                        After only a couple weeks, asked her to "go steady" and the rest is history!
                    </p>
                </div>
            </div>
            <div class="column six left">
                <h2 class="vibe">She says</h2>
                <div class="story">
                    <p>
                        After meeting online and turning him down twice, I finally agreed to go on a date 
                        with him. But only for 2.5 hours. At the time, I was studying for my LSAT (the 
                        good ol’ days) and had put myself on a strict nightly bedtime of 10:30PM. 
                    </p>
                    <p>
                        When he had arrived to pick me up for the date, I opened the door and was 
                        startled to see him waiting on my doorstep. I remember looking up at him and 
                        thinking to myself, “Oh my goodness, he’s so good looking”. He smiled at me and 
                        said “hi”, then leaned in to greet me with a hug. 
                    </p>
                    <p>
                        I was <i>obviously</i> too nervous for a hug.
                    </p>
                    <p>
                        Avoiding eye contact, I mumbled a “hi” back and walked straight passed his hug 
                        toward the car. My stellar logic was that, if I don’t look at him then maybe he 
                        won’t notice that I’m acting strange (this is the type of logic that got me into 
                        law school). Little did I know that God had just introduced me to my best friend 
                        and life partner. 
                    </p>
                    <p>
                        The rest of the evening was a blur. Between discovering our mutual love 
                        (obsession?) for Christmas, getting lost on the way to Wendy’s, and 
                        chatting the night away by the lake front, I met a person with a carefree 
                        spirit and a heart after God. 
                    </p>
                    <p>
                        And as he says, the rest is history.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #Story Section Ends -->