<section id="accomodations" class="pattern">
    <header class="section-header">
        <h3 class="section-title">Accomodations</h3>
        <p class="section-tagline">
            For all of our guests coming from out of town or who want to 
            spend the night in a hotel nearby, a courtesy wedding block has 
            been reserved for your convenience. <br/><br/>
            Please reserve by <strong>September 5th, 2018</strong> and mention the "<strong>Jacinto &amp; Maciuk Wedding</strong>" (<strong>JMW</strong>)
        </p>
    </header>
    <div class="container">
        <a href="http://hiburlington.ca/" target="_blank"><img src="/img/holiday-inn-logo.svg" /></a>
        <p>
            <strong>Holiday Inn Hotel and Conference Centre</strong><br/>
            3063 South Service Road<br/>
            Burlington, ON.<br />
            905-639-4443<br />
            1-888-987-4888
        </p>
    </div>
</section>