<!-- #Map Section -->
<section id="map-section">
    <div class="container">
        <div id="map-pins">
            <ul>
                <li class="wedding">Wedding</li>
                <li class="weddingParty">Wedding Party</li>
                <li class="bachelor">Bachelor</li>
                <li class="bachelorette">Bachelorette</li>
                <li class="hotels">Hotels</li>
                <li class="airport">Airport</li>
                <li class="attractions">Attractions</li>
                <li class="restoraunts">Restoraunts</li>
                <li class="shopping">Shopping</li>
                <li class="special">Special</li>
            </ul>
        </div>
    </div>
    <div id="map"></div>
</section>
<!-- #Map Section Ends -->