<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>AA Jack &amp; Jill Online Checkout Receipt</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}  
        </style>
    </head>
    <body yahoo bgcolor="#fff">
        <table width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <h1>Jack &amp; Jill Online Checkout Receipt</h1>
                            </td>
                        </tr>
                        <tr>
                            <td><h2>Customer:</h2></td>
                        </tr>
                        <tr>
                            <td><%= customer.email %></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px;"><h2>Items:</h2></td>
                        </tr>
                        <tr><td><strong>Name:</strong></td><td><strong>Amount:</strong></td></tr>
                        <% for (var key in items) { %>
                            <tr>
                                <td style="padding-bottom: 5px;"><%= items[key].name %></td>
                                <td style="padding-bottom: 5px;">$<%= parseFloat(Math.round(items[key].amount*100) / 10000).toFixed(2) %></td>
                            </tr>
                        <% } %>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>